/* Login Page image */
.login-img {
	background-color: #374956;
	background-image: url("images/stockmap.jpg");
	background-position: center;
	background-size: cover;
  }

.title {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-shadow: 1px 1px 2px gray;
	font-size: larger;
}

.user {
	padding-right: 5px;
	margin-bottom: -15px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 12px;
}

.footer {
	padding-top: 25px;
}

/* WIP -- look to come back to this later
.entry-grid {
	display: grid;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 80px auto 80px; 
	column-gap: 10px;
	row-gap: 15px;
  } */


/* Overriding pico css for borders, margins and padding*/

article {
	margin-left: 2% !important;
	margin-right: 2% !important;
}

nav {
	margin-left: 2%;
	margin-right: 2%;
}

/* End Pico stuff */

.footerform {
	padding-top: 50px;
	text-align: center;
}

