header {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}

.title {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	text-shadow: 1px 1px 2px gray;
}

.subtitle {
	text-align: center;
}

ul {
    display: table; 
    margin: 0 auto;
    text-align: left;
}

.center {
	text-align: center;
}

.footer {
	padding-top: 25px;
}


.header-bar {
	padding-top: 10px;
	padding-bottom: 2px;
	margin: 5px 25%;
	border-style: ridge;
	background-color: rgb(243, 242, 242);
}

.menu-bar {
	display: flex;
}

.bar-button {
	display:inline-block;
	padding:8px 12px; /* top & bottom padding 8x, left & right padding 12px */
	vertical-align:middle;
	overflow:hidden;
	color:black;
	text-decoration:none; /* hides underlines for links */
	text-align:center;
	background-color: white;
	border-style: groove;
	border-color: grey;
	border-width: 1px;
	transition: .3s linear all; /* draws out the hover effect */
}

.bar-button:hover {
	background-color: lightgray;
	color: rgb(16, 61, 158);
	box-shadow: 0px 50px 5px rgba(0, 0, 0, 0.15) inset;
}

.user {
	text-align: right;
	padding-right: 5px;
	margin-bottom: -15px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 12px;
}

.footerform {
	padding-top: 50px;
}

.listheader {
	padding-top: 20px;
}