body { background-color: lightblue; }
p { color: seagreen; }

/*.brightness {
	background-color: white;
	display: inline-block;
}

.brightness img:hover {
	opacity: .5;
}NOTE:  This appears broken now that we've included maphilight...*/