{% extends "base.html" %}

{% block content %}
<body>
    <h3 class="title">Campaign: {{ campaign.title }}</h3>
    <p class="subtitle">{{ campaign.description }}</p>
    <p class="center">Game Master: {{ campaign.user }}</p>

    <h4 class="title">Players</h4>
        <ul>
            {% for character in characters %}
                <li><a href="{% url 'maps:character' character.id %}">{{ character.char_name }}</a></li>
            {% empty %}
                <li>There are no players in this campaign!</li>
            {% endfor %}
        </ul>

    <h4 class="title">Maps</h4>
        <ul>
            {% for map in maps %}
                <li><a href="{% url 'maps:map' map.id %}">{{ map.map_title }}</a></li>
            {% empty %}
                <li>There are no maps for this campaign!</li>
            {% endfor %}
        </ul>
</body>
{% endblock content %}

</html>