{% extends "base.html" %}

{% block content %}
<body>
    <article class="creationform">
        <h4> Edit Location </h4>
        <form action="{% url 'maps:edit_location' location.id %}" method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button name="update">Update Location</button>
            <button name="delete" onclick="return confirm('Are you sure you want to delete this?')">Delete
                Location</button>
        </form>
    </article>
</body>
{% endblock content %}