{% extends 'maps/base.html' %}
{% block content %}

<body>
	<h1>Location: {{ location.title }}</h1>
	<p>{{ location.text }}</p>

	<h3 class="listheader">Notes:</h3>
	<ul>
		{% for note in notes %}
			<li>
				<p>{{ note.author }}, {{ note.created|date:'M d, Y H:i' }}</p>
				<p>{{ note.content|linebreaks }}</p>
			</li>
		{% empty %}
		<li>There are no notes for this location.</li>
	{% endfor %}
	</ul>

	<h3 class="footerform">Add New Note</h3>
	<form action="{% url 'maps:location' location.id %}" method='post'>
		{% csrf_token %}
		{{ form.as_p }}
		<button name="submit">Add Note</button>
	</form>

</body>

{% endblock content %}