{% extends 'base.html' %}
{% block content %}

{% load static %}

<head>
	<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'map.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
		integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

	<!-- Include the Quill library -->
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

	<!-- Include the Leaflet library -->
	<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
		integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="">
	</script>
</head>

{% for location in locations %}
<a hidden class="location-link" id="{{location.title}}" href="{% url 'maps:location' location.id %}">{{
	location.title }}</a>
{% empty %}
{% endfor %}
<div id="map"></div>


{{ locations|json_script:"map_locations" }}

<script type="text/javascript" defer data-map-url='{{ map.image.url }}' data-map-height='{{ map.image.height }}'
	data-map-width='{{ map.image.width }}' data-map-id='{{ map.id }}'>

		//Define our image attibutes, passed from Django
		const data = document.currentScript.dataset;
		const map_id = data.mapId;
		const map_url = data.mapUrl;
		const map_height = data.mapHeight; //height of map in px
		const map_width = data.mapWidth; //width of map in px
		window.onload = initMap();

		function initMap() {
			//Get Map Container and Browser Window Dimensions
			var mapDiv = document.getElementById("map");
			//var windowW = document.documentElement.clientWidth;
			var windowW = mapDiv.clientWidth;
			//console.log("Window Width: " + windowW);
			var scaledImageW = map_width,
				imageAspectR = map_width / map_height,
				scaleFactor = 0,
				zoomMin = 0,
				zoomMax = 0;

				
			//Scale Aspect Ratio for div to reflect image dimensions
			mapDiv.style.aspectRatio = imageAspectR;
			
			// Scale down Image if it is bigger than our screen
			// Keep looping until the image fits within the screen
			// Add a tally for how many zooms we can do
			while (windowW < scaledImageW) {
				scaledImageW /= 1.5; //Scale down -- might need to revisit this later
				scaleFactor++;
			}

			//don't allow a scaleFactor greater than 3
			if (scaleFactor >= 3) {
				zoomMin = -1.5;
				zoomMax = .5;
			}
			else {
				zoomMin = -1;
				zoomMax = 1;
			}

			//Initialize Leaflet Map
			var map_bounds = [[0, 0], [map_height, map_width]];
			var center = [map_height / 2, map_width / 2];
			var map = L.map('map', {
				crs: L.CRS.Simple,
				maxBounds: map_bounds,
				center: center,
				maxZoom: zoomMax,
				minZoom: zoomMin,
				zoomSnap: 0.5,
				zoomDelta: 0.5,
				wheelPxPerZoomLevel: 120,
				//scrollWheelZoom: false,
				attributionControl: false,
				maxBoundsViscosity: 1,
				//contextMenu: true,
				//contextMenuWidth: 140,
				zoomControl: false, //Disable zoom controls so we can reposition it
			});

			// Customize Leaflet Map controls
			L.control.zoom({
				position: 'topright'
			}).addTo(map);

			// Overlay Map Image
			L.imageOverlay(map_url, map_bounds).addTo(map);
			
			
			map.fitBounds(map_bounds);
			//map.setView(center, zoomMin + 0.5)

			// Load locations from view and set markers on map
			const locations = JSON.parse(document.getElementById("map_locations").textContent);
			locations.forEach(location => {
				//Create marker at each location's coordinates
				var marker = L.marker(
					[location.xCoord, location.yCoord],
					title = location.title,
					id = location.id
				).addTo(map).bindTooltip(title);

				/* -- Inline editor Quill
				var container = '<div class="editor"></div>';
				var div_open = '<div class="toolbar">';
				var div_close = '</div>';
				var div_title = '<p>' + location.title + '</p>';
				var toolbox = div_open + div_title + div_close;
				
				marker.bindPopup(toolbox + container, {
					minWidth: 500,
					maxWidth: 600,
					//offset: [0, 200],
				});

				marker.on('click', function () {
					// Create a new Quill Editor in the popup
					new Quill('.editor', {
						//theme: 'snow',
						modules: {
							toolbar: '.toolbar'
						}
					});
				})
				*/

				//get the link to each location (a element later in doc)
				var markerUrl = document.getElementById(location.title);

				
				marker.on('click', function(){
					//Generate URL based on location id
					window.location.href = markerUrl;
				});
			});

			// Redirect to new_location on map click
			map.on('click', newLocation);
		}

		// Helper Functions (refactor to map.js eventually)
		function resizeMap(coordinates) {
			//Note: Implement this and call it on window resize later on
		}

		function getScaleFactor(mapDiv) {
		}

		function newLocation(e) {
			coords = e.latlng;
			console.log(coords);
			locData = { 'xCoord': coords.lat, 'yCoord': coords.lng };
			queryParam = encodeQuery(locData);
			url = "/maps/" + map_id + "/new_location";
			url += queryParam;
			document.location.href = url;
		}

		function encodeQuery(data) {
			let query = "?";
			for (let d in data)
				query += encodeURIComponent(d) + '='
					+ encodeURIComponent(data[d]) + '&';
			return query.slice(0, -1);
		}

	</script>

{% endblock content %}