{% extends 'base.html' %}
{% block content %}

{% load static %}
<script src="{% static 'map.js' %}"></script>
<link rel="stylesheet" href="{% static 'map.css' %}">

<!-- Import Jquery and Maphilight pluglin -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.4.0/jquery.maphilight.min.js">
</script>

<!-- Maphilight functionality -->
<script type="text/javascript">
  $(function() {
    $('.map').maphilight({
    	fillColor: 'FF0000',
    	fillOpacity: .35,
    	strokeColor: '000000',
    	strokeOpacity: 1,
    	strokeWidth: 2,
    });
  });
</script>

<p id="displayArea">Coordinates</p>

<div id="mapView" onmousemove="trackCoords(event)" onmouseout="stopTracking()" onclick="newLocation(event, {{ map.id }})">
	<img id="map" src="{{ map.map_image.url }}" alt="{{ map.map_title }}" usemap="#{{ map.map_title }}" class=map>

	<map name ="{{ map.map_title }}">
 		{% for location in locations %}
			<div class="maparea">
				<area class="location" id="{{ location.title }}" shape="circle" coords="{{ location.xCoord }},{{ location.yCoord }},20" alt="{{ location.title }}" href="{% url 'maps:location' location.id %}">
			</div>
		{% endfor %}
	</map>
</div>

<p id="displayArea2"></p>
<p id="displayArea3"></p>

<p>Locations:</p>
<ul>
	{% for location in locations %}
		<li>
			<a href="{% url 'maps:location' location.id %}">{{ location }}</a>
		</li>
	{% empty %}
		<li>There are no locations for this map yet.</li>
	{% endfor %}
</ul>

{% endblock content %}
