{% load static %}
<!DOCTYPE html><html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>QuestMap</title>
	<link rel="stylesheet" href="{% static 'base.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>
<body>
	<nav class="menu-bar">
		<ul>
			<li><strong class="title">QuestMap</strong></li>
		</ul>

		<ul>
			{% if user.is_authenticated %}
			<li><a href="{% url 'maps:index' %}">Home</a></li>
			<li><a href="{% url 'maps:maps' %}">Maps</a></li>
			<li><a href="{% url 'maps:characters' %}">Characters</a></li>
			<li><a href="{% url 'maps:campaigns' %}">Campaigns</a></li>
		</ul>

		<ul>
			<li><div class="user">Logged in as:
				<a href="{% url 'users:profile' user.username %}">{{ user.username }}</a> -
				<a href="{% url 'users:logout' %}">Log out</a>
			</div></li>
			
			{% else %}
			<li><a href="{% url 'users:login' %}">Log in</a></li>
			<li><a href="{% url 'users:register' %}">Register</a></li>
			{% endif %}
		</ul>
	</nav>
	<main class="container-fluid"> <!--NOTE: might want to change this to something more custom -- allow for thinner margins etc -->
		{% block content %}
		{% endblock content %}
	</main>
</body>
</html>