{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'base.css' %}">
<!--<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">-->
<link rel="stylesheet" href="{% static 'pico/pico.min.css' %}">

<header><div class="header-bar">
	{% if user.is_authenticated %}
		<p>
			<a class="bar-button" href="{% url 'maps:index' %}">Home</a>
			<a class="bar-button" href="{% url 'maps:maps' %}">Maps</a>
			<a class="bar-button" href="{% url 'maps:characters' %}">Characters</a>
			<a class="bar-button" href="{% url 'maps:campaigns' %}">Campaigns</a>
			<div class="user">Logged in as: <a href="{% url 'users:profile' user.username %}">{{ user.username }}</a> - <a href="{% url 'users:logout' %}">Log out</a></p></div>
		</p>
	{% else %}
		<a class="bar-button" href="{% url 'users:login' %}">Log in</a>	
		<a class="bar-button" href="{% url 'users:register' %}">Register</a>
	{% endif %}
</div></header>


{% block content %}
{% endblock content %}